@model IEnumerable<Product>
@{
    ViewData["Title"] = "Phone Store";
    Layout = "_Layout";
    ViewBag.Mode = "Index";
}

@await Html.PartialAsync("FilteredProducts")
@await Html.PartialAsync("ShowAsync")

<div class="text-center">
    @await Html.PartialAsync("Page")
</div>