@model IQueryable<PhoneShop.Models.DataModel.Product>
@{
    ViewData["Title"] = "Phone Store";
    Layout = "_Layout";
    ViewBag.EditDelete = true;
    ViewBag.Mode = "ShowAll";
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success">@TempData["message"]</div>
}
@await Html.PartialAsync("FilteredProducts")
@await Html.PartialAsync("ProductListToEdit")
<div class="text-center">
    @await Html.PartialAsync("Page")
</div>


