
<div class="text-center m-4">
    <h2>Thanks @ViewBag.Name !</h2>
    <p>Thanks for placing yout order.</p>
    <p>We`ll ship your goods as soon as possible.</p>
    <a asp-action="Index" asp-controller="Home" class="btn btn-success">Ok</a>
</div>